body {
  background-color: rgb(235, 235, 235);
  text-align: center;
}

.Title {
  color: rgb(190, 4, 4);
}

.options {
  padding: 20px;
}

.account-info {
  padding: 5px;
}

.make-a-call {
  padding: 5px;
}

.notifications {
  padding: 5px;
}

video {
  width: 300px;
  margin: 10px;
  display: inline-block;
}

.video {
  display: inline-block;
}
